In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
pj = pd.read_excel(r'/Users/edgartome_1/IronHack/IronProjects/Project6/Payments.xlsx')

In [3]:
pjdate = pj['Date'].unique()
list(pjdate)
dicdates = {'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}

In [4]:

for y in pj['Date'].tolist():
    if type(y) == str:
        val = [x.lower() for x in y]
        day = val[:2]
        day1 = val[0] + val[1]
        year = val[-2:]
        year1 = year[0] + year[1]
        month = val[3:6]
        month1 = month[0] + month[1] + month[2]
        correctdate = datetime.datetime(2000 + int(year1), dicdates[month1] , int(day1), 0, 0)
        print(y)
        print(correctdate)
        pj["Date"].replace({y: correctdate}, inplace=True)
    else:
        continue

16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
02-nov-21
2021-11-02 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
16-mars-21
2021-03-16 00:00:00
21-Feb-2021
2021-02-21 00:00:00
21-Feb-2021
2021-02-21 00:00:00
21-Feb-2021
2021-02-21 00:00:00
26-Feb-2021
2021-02-26 00:00:00
26-Feb-2021
2021-02-26 00:00:00
26-Feb-2021
2021-02-26 00:00:00
10-janv-22
2022-01-10 00:00:00
07-Feb-2021
2021-02-07 00:00:00
08-Feb-2021
2021-02-08 00:00:00
02-mars-21
2021-03-02 00:00:00
02-mars-21
2021-03-02 00:00:00
15-janv-21
2021-01-15 00:00:00
15-janv-21
2021-01-15 00:00:00
13-janv-21
2021-01-13 00:00:00
13-janv-21
2021-01-13 00:00:00
14-janv-21
2021-01-14 00:00:00
14-janv-21
2021-01-14 00:00:00
05-janv-21
2021-01-05 00:00:00
05-janv-21
2021-01-05 00:00:00
05-janv-21
2021-01-05 00:00:00
28-janv-21
2021-01-28 00:00:00
28-janv-21
2021-01-28 00:00:00
13-janv-21
2021-01-13 00:00:00
13-janv-21
2021-01-13 00:00:00
22-mars-21
2021-03-22 00:00:00
22-mars-21
2021-03-22 00:00:00
20-nov-20
2020-11-20 00:00:00
20-nov-20
2020-11-20 00:00:00
20-nov-20
2020-11-20 00:00:00
21-nov-20
2020-11-21 00:00:00
21-nov-20
2020-11-21 00:00:00
27-nov-20
2020-11-27 00:00:00
27-nov-20
2020-11-27 00:00:00
01-mars-21
2021-03-01 00:00:00
01-mars-21
2021-03-01 00:00:00
01-mars-21
2021-03-01 00:00:00
01-mars-21
2021-03-01 00:00:00
15-janv-21
2021-01-15 00:00:00
15-janv-21
2021-01-15 00:00:00
21-janv-21
2021-01-21 00:00:00
02-mars-21
2021-03-02 00:00:00
23-mars-21
2021-03-23 00:00:00
23-mars-21
2021-03-23 00:00:00

In [5]:
pj

,Debtor,Creditor,Type,Reference,Initial Amount,Currency,Bank,Charges,Date,Time (local),Status
0,Alpha Inc,ACME INVEST.,fin.101,REF211,10000.0,USD,CHASUS3AXXX,0.020,2021-03-16,08:15:00,NEW
1,Alpha Inc,ACME INVEST.,fin.101,REF211,10000.0,USD,BINAADADXXX,0.015,2021-03-17,15:45:00,COMPLETED
2,Alpha Inc,ACME ONE CORP.,fin.101,REFTEST01,4537.0,USD,CHASUS3AXXX,0.020,2021-03-16,2013-10-01 00:00:00,NEW
3,Alpha Inc,ACME ONE CORP.,fin.101,REFTEST01,4537.0,USD,BINAADADXXX,0.010,2021-03-16,12:45:00,PENDING
4,Alpha Inc,ACME ONE CORP.,fin.101,REFTEST01,4537.0,USD,BSJUARBJXXX,0.020,2021-03-18,14:15:00,COMPLETED
...,...,...,...,...,...,...,...,...,...,...,...
85,Alpha Inc,ALT-2 INC,fin.101,REFD202103,17430.0,USD,CHASUS3AXXX,0.020,2021-07-12,15:41:00,PENDING
86,Alpha Inc,ALT-2 INC,fin.101,REFD202103,17430.0,USD,CHASUS3AXXX,0.010,2021-07-13,18:10:00,DELIVERED
87,Alpha Inc,Beta Corp,fin.101,REF001,12000.0,USD,CHASUS3AXXX,0.010,2021-10-05,12:43:00,NEW
88,Alpha Inc,Beta Corp,fin.101,REF001,12000.0,USD,CHASUS3AXXX,0.020,2021-10-05,14:32:00,PENDING
89,Alpha Inc,Beta Corp,fin.101,REF001,12000.0,EUR,BINAADADXXX,0.010,2021-10-07,18:21:00,PENDING

In [6]:
#Convert the float in to interger
pj['Initial Amount'] = pj['Initial Amount'].astype('int64')

In [7]:
#Remove dot from Creditor column and not space
pj['Creditor'] = pj['Creditor'].str.replace(r'[^0-9a-zA-Z:, \n]+', ' ', regex=True)

In [8]:
pj['Rf_Am'] = [' '.join([j, x, str(y), z, i]) for j, x, y , z , i in zip(pj['Creditor'], pj['Reference'], pj['Initial Amount'], pj['Currency'], pj['Bank'])]

In [9]:
pj

,Debtor,Creditor,Type,Reference,Initial Amount,Currency,Bank,Charges,Date,Time (local),Status,Rf_Am
0,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,CHASUS3AXXX,0.020,2021-03-16,08:15:00,NEW,ACME INVEST REF211 10000 USD CHASUS3AXXX
1,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,BINAADADXXX,0.015,2021-03-17,15:45:00,COMPLETED,ACME INVEST REF211 10000 USD BINAADADXXX
2,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,CHASUS3AXXX,0.020,2021-03-16,2013-10-01 00:00:00,NEW,ACME ONE CORP REFTEST01 4537 USD CHASUS3AXXX
3,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BINAADADXXX,0.010,2021-03-16,12:45:00,PENDING,ACME ONE CORP REFTEST01 4537 USD BINAADADXXX
4,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BSJUARBJXXX,0.020,2021-03-18,14:15:00,COMPLETED,ACME ONE CORP REFTEST01 4537 USD BSJUARBJXXX
...,...,...,...,...,...,...,...,...,...,...,...,...
85,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.020,2021-07-12,15:41:00,PENDING,ALT 2 INC REFD202103 17430 USD CHASUS3AXXX
86,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.010,2021-07-13,18:10:00,DELIVERED,ALT 2 INC REFD202103 17430 USD CHASUS3AXXX
87,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.010,2021-10-05,12:43:00,NEW,Beta Corp REF001 12000 USD CHASUS3AXXX
88,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.020,2021-10-05,14:32:00,PENDING,Beta Corp REF001 12000 USD CHASUS3AXXX
89,Alpha Inc,Beta Corp,fin.101,REF001,12000,EUR,BINAADADXXX,0.010,2021-10-07,18:21:00,PENDING,Beta Corp REF001 12000 EUR BINAADADXXX

In [10]:
pj.at[2,'Time (local)']='00:00:00'
pj.at[71,'Time (local)'] = '00:00:00'

In [11]:
countries = []
for row in pj['Bank']:
        if row == 'CHASUS3AXXX': countries.append('USA')
        elif row == 'BINAADADXXX': countries.append('Andorra')
        elif row == 'BSJUARBJXXX': countries.append('Argentina')
        elif row == 'REDJBY22XXX': countries.append('Belarus')
        elif row == 'AGRIFRPPXXX': countries.append('France')
        elif row == 'TSIBAU44XXX': countries.append('Australia')
        elif row == 'FNROCNBQXXX': countries.append('China')
        elif row == 'FINVALTRXXX': countries.append('Albania')

In [12]:
pj['Country']=countries
pj

,Debtor,Creditor,Type,Reference,Initial Amount,Currency,Bank,Charges,Date,Time (local),Status,Rf_Am,Country
0,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,CHASUS3AXXX,0.020,2021-03-16,08:15:00,NEW,ACME INVEST REF211 10000 USD CHASUS3AXXX,USA
1,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,BINAADADXXX,0.015,2021-03-17,15:45:00,COMPLETED,ACME INVEST REF211 10000 USD BINAADADXXX,Andorra
2,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,CHASUS3AXXX,0.020,2021-03-16,00:00:00,NEW,ACME ONE CORP REFTEST01 4537 USD CHASUS3AXXX,USA
3,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BINAADADXXX,0.010,2021-03-16,12:45:00,PENDING,ACME ONE CORP REFTEST01 4537 USD BINAADADXXX,Andorra
4,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BSJUARBJXXX,0.020,2021-03-18,14:15:00,COMPLETED,ACME ONE CORP REFTEST01 4537 USD BSJUARBJXXX,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.020,2021-07-12,15:41:00,PENDING,ALT 2 INC REFD202103 17430 USD CHASUS3AXXX,USA
86,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.010,2021-07-13,18:10:00,DELIVERED,ALT 2 INC REFD202103 17430 USD CHASUS3AXXX,USA
87,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.010,2021-10-05,12:43:00,NEW,Beta Corp REF001 12000 USD CHASUS3AXXX,USA
88,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.020,2021-10-05,14:32:00,PENDING,Beta Corp REF001 12000 USD CHASUS3AXXX,USA
89,Alpha Inc,Beta Corp,fin.101,REF001,12000,EUR,BINAADADXXX,0.010,2021-10-07,18:21:00,PENDING,Beta Corp REF001 12000 EUR BINAADADXXX,Andorra

In [13]:
pj.to_csv(r'/Users/edgartome_1/IronHack/IronProjects/Project6/Payments_final.csv', index = False)

In [14]:
pj

,Debtor,Creditor,Type,Reference,Initial Amount,Currency,Bank,Charges,Date,Time (local),Status,Rf_Am,Country
0,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,CHASUS3AXXX,0.020,2021-03-16,08:15:00,NEW,ACME INVEST REF211 10000 USD CHASUS3AXXX,USA
1,Alpha Inc,ACME INVEST,fin.101,REF211,10000,USD,BINAADADXXX,0.015,2021-03-17,15:45:00,COMPLETED,ACME INVEST REF211 10000 USD BINAADADXXX,Andorra
2,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,CHASUS3AXXX,0.020,2021-03-16,00:00:00,NEW,ACME ONE CORP REFTEST01 4537 USD CHASUS3AXXX,USA
3,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BINAADADXXX,0.010,2021-03-16,12:45:00,PENDING,ACME ONE CORP REFTEST01 4537 USD BINAADADXXX,Andorra
4,Alpha Inc,ACME ONE CORP,fin.101,REFTEST01,4537,USD,BSJUARBJXXX,0.020,2021-03-18,14:15:00,COMPLETED,ACME ONE CORP REFTEST01 4537 USD BSJUARBJXXX,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.020,2021-07-12,15:41:00,PENDING,ALT 2 INC REFD202103 17430 USD CHASUS3AXXX,USA
86,Alpha Inc,ALT 2 INC,fin.101,REFD202103,17430,USD,CHASUS3AXXX,0.010,2021-07-13,18:10:00,DELIVERED,ALT 2 INC REFD202103 17430 USD CHASUS3AXXX,USA
87,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.010,2021-10-05,12:43:00,NEW,Beta Corp REF001 12000 USD CHASUS3AXXX,USA
88,Alpha Inc,Beta Corp,fin.101,REF001,12000,USD,CHASUS3AXXX,0.020,2021-10-05,14:32:00,PENDING,Beta Corp REF001 12000 USD CHASUS3AXXX,USA
89,Alpha Inc,Beta Corp,fin.101,REF001,12000,EUR,BINAADADXXX,0.010,2021-10-07,18:21:00,PENDING,Beta Corp REF001 12000 EUR BINAADADXXX,Andorra